div.blocks{
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.blocks > div.items1 {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.blocks > div.items2 {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.blocks > div.items1 > div.item {
    width: 12.5%;
    height: 80px;
    border: 1px solid rgb(224,224,226);
    background-color: rgb(240,240,241);

}

div.blocks > div.items1 > div.item > a {
    width: 100%;
    height: 100%;
}

div.blocks > div.items1 > div.item > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 0.7;

}


div.blocks > div.items2 > div.item {
    width: 14.28%;
    height: 80px;
    border: 1px solid rgb(224,224,226);
    background-color: rgb(240,240,241);

}

div.blocks > div.items2 > div.item > a {
    width: 100%;
    height: 100%;
}
div.blocks > div.items2 > div.item > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 0.7;
}





