div.firsttworecktangleboxes {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px 0;

}

div.firsttworecktangleboxes > a{
    width: 37%;
    height: 197px;
}

div.firsttworecktangleboxes > a > img {
    width: 100%;
    border-radius: 15px;
}